
    <div class="faces">
      
      <div class="jumbotron section first-hero" id="first-hero-faces">
        <h1>Faces of our Members</h1>
      </div>
      
      <div class="container-wrapper">
      <div class="jumbotron section container">
        <h2 class="title">Meet our riders:</h2>
        <hr align="center">
        
        <h3>Dr. Gabriel Vidal</h3>
        <iframe width="75%" height="415" src="https://www.youtube.com/embed/9HEHTOX2psY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        
        <h3>ITN<em>{{affiliate}}</em> Board Members</h3>
        <img ng-src="{{assetsPath}}/images/board/itnco-board.jpg" alt="board member and driver" style="width:60%"/>
        
        <h3>Germaine (Board member) and Richard (driver)</h3>
        <img ng-src="{{assetsPath}}/images/board/Boardmemberanddriver.jpg" alt="board member and driver" style="width:50%"/>
        
        <h3>Volunteer driver</h3>
        <img ng-src="{{assetsPath}}/images/board/ITNCOvolunteerdriver.jpg" alt="volunteer woman" style="width:50%"/>
      
        <p class="end-note">For more videos, check out <a href="https://www.youtube.com/itnamerica">ITN<em>America</em>'s YouTube channel.</a> </p>
      </div><!--container-->
      
    </div><!--container-wrapper-->
    </div><!--faces-->
    