
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" ng-click="scrollTo('staff')">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-50">
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/mark-mellow.jpg" alt="Mark Mellow portrait"/>
            <h2>Mark Mellow, MD</h2>
            <p class="title">President</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Dr. Mark Mellow has been a practicing physician and clinical researcher for over 40 years, specializing in gastroenterology at Integris Baptist Associates. He is the founder and first President of the Board for ITNCO. He began laying the groundwork for a local affiliate over 7 years ago and has been instrumental in raising awareness and funds to open the first ITN affiliate in Oklahoma in 2015.  Most recently he became an author and has held several book signings for his first book, The Good Neighbor: Stories that teach families how to live and love well. Dr. Mellow and his wife divide their time now between OKC and Naples, Florida.</p>
            </div>
          </div><!--col-sm-4-->
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/marsha-funk.png" alt="Marsha Funk portrait"/>
            <h2>Marsha Funk</h2>
            <p class="title"><strong>Vice-President</strong></p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Marsha Funk, a native of southern Oklahoma, holds a Bachelor’s degree and an MBA from the University of Oklahoma with an emphasis in marketing and finance.</p>

              <p>Marsha has worn many hats. She began her professional career at IBM where she spent time marketing web transactional software and consulting services across a multi-state area. Post IBM she was Senior Director of Conference, Membership and Business Development at a large renewable energy trade association in Washington, D.C.</p>

              <p>Marsha holds an active real estate license with passive investments in multi-family properties in markets in Oklahoma and Texas. An avid supporter of the Oklahoma City community, Marsha also serves on the local board of Generation Citizen, the University of Oklahoma’s Honors College Board of Visitors and the Historical Preservation Board of Heritage Hills. She is also Executive Director of the Greater Parks and Trails Foundation of Oklahoma City and is a sustaining member of the Oklahoma City Junior League.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/marcy.jpg" alt="Marcy Moskowitz Price portrait"/>
            <h2>Marcy Moskowitz Price</h2>
            <p class="title"><strong>Secretary</strong></p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p> Marcy is retired from her role as Program Director of the Jewish Federation of Greater OKC. an active volunteer driver and Secretary of the board. She is a Tulsa native, a graduate of Emory University, with a Master’s Degree from the Harvard Graduate School of Education. Marcy began her career in OKC 40 years ago as a Child Development Specialist with the SE Guidance Center and Community Education Director at Red Rock Community Health Center. Marcy began teaching Developmental psychology at OSU/OKC and worked as a Research Assistant with the Emotional Health Center, OUHSC, Dept. of Psychiatry.</p>
              <p> Marcy was appointed by Governor David Walters to serve a three year term on the Oklahoma Human Rights Commission. Other board positions included the Child Advocacy Board, and the OKC Metropolitan Library Trust Foundation.</p>
              <p> Following retirement in 2013, Marcy served on the Board of Temple B’nai Israel. She currently serves on the Read OKC Literacy task force with the OKC Public School Foundation and is an active volunteer with the OKC Arts Council and Festival of the Arts. Marcy is a graduate of Leadership OKC, Class XX and Leadership Oklahoma, Class XXIV.</p>
            </div>
          </div>
          
        </div><!--row-->
        
        <div class="row mb-50">
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/david-morgan.jpg" alt="David D. Morgan portrait"/>
            <h2>David D. Morgan</h2>
            <p class="title">Treasurer</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio4 = !showBoardBio4">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio4">
              <p>David is an active volunteer driver and serves as Treasurer of the board.</p>
              <p>Dave is a 4th generation 89’er.  His great grandfather, Dick T. Morgan, represented Oklahoma City and northwest Oklahoma as a member of the first Congressional Delegation elected after statehood, from 1909 – 1920.  David was a member of the National Teacher Corps (precursor to Teach for America) and then taught middle school in Oklahoma City and Colorado for nine years before attending law school at the University of Denver.  David was a partner at two Oklahoma City law firms (Ames Daugherty and Hastie Kirschner) before serving as General Counsel of MidFirst Bank and Midland Financial Co. from 1996 to 2014 (currently serving as Special Counsel).  David has been married to Ellen Records Morgan for 45 years.  He is a member of Westminster Presbyterian Church where he has served as a Deacon and an Elder.  He enjoys golf and hanging out with six grandchildren.</p>
              </p>
            </div>
          </div>
          
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/odenheimer.jpg" alt="Germaine Odenheimer Portrait"/>
            <h2>Germaine Odenheimer, M.D.</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio5 = !showBoardBio5">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio5">
              <p>Germaine Odenheimer, M.D. is both a rider/member and an active volunteer driver. Dr. Odenheimer retired in December, 2017 as Professor Emeritus from the Donald W. Reynolds Department of Geriatric Medicine University of Oklahoma College of Medicine and the OKC VAMC. Dr. Odenheimer completed her medical degree at the Louisiana State University Medical Center in Shreveport. She moved to the University of Florida for her residency in neurology and a fellowship in geriatric medicine. She is board certified in neurology and has specialized expertise in cognitive impairment, aging and driving.</p>
              <p>She has been following the ITN project since its inception over 20 years ago. </p>
              <p>She is actively involved with the Alzheimer’s Association, serves on the OK State Council on Aging and on the OK State Long Term Care Ombudsman Committee. </p>
              <p>She loves to travel and dabble in the arts. </p>
            </div>
          </div>

          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/tomas-owens.jpg" alt="Tomas P. Owens Portrait"/>
            <h2>Tomas P. Owens, MD</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio6 = !showBoardBio6">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio6">
              <p>Dr. Owens is the Director of the Great Plains Residency Program and is a Family Physician. He has served on the ITNCO since its inception. Dr. Owens earned his medical degree from the University of Panama and trained at the Oklahoma Family Medicine Residency Program where he was Chief Resident. </p>
              <p>Dr. Owens is a Clinical Professor in the Departments of Family and Preventive Medicine, Geriatric Medicine and Internal Medicine at the University of Oklahoma Health Sciences Center. He has been the Chairman of the Department of Family Medicine at Integris Baptist Medical Center since 1999.</p>
              <p>In reference to the value of ITNCO, Dr. Owens stated, <em>“I take care of a lot of elderly people, and I know how important it s for them to remain mobile and socially engaged. I have watched ITNCO grow and reach more and more of this often neglected segment of our community.”</em></p>
            </div>
          </div>
          
        </div><!--row-->
        
        <div class="row mb-100">

          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/larry-ottaway.jpg" alt="Larry Ottaway portrait"/>
            <h2>Larry Ottaway</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio7 = !showBoardBio7">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio7">
              <p>Larry Ottaway is a trial attorney with Foliart, Huff, Ottaway & Bottom Law Firm</p>
              <p>Mr. Ottaway has tried more than 75 cases to verdict in Oklahoma. In addition, he has tried cases in Texas, Arkansas, Idaho, Colorado, New York, California, and several other states.</p>
              <p>Mr. Ottaway has been named one of Oklahoma’s SuperLawyers and one of the state’s “Top 10 Attorneys” by Oklahoma Magazine. He is considered one of Oklahoma’s preeminent attorneys, according to his peers and Martindale-Hubbell.</p>
              <p>Mr. Ottaway concentrates his practice in civil litigation involving products liability, professional and general negligence, insurance related issues including extra contractual liability and business disputes. He and his wife are active in the business and arts community.</p>
              </p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/steve.jpg" alt="Steve Rasmussen portrait"/>
            <h2>Steve Rasmussen</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio8 = !showBoardBio8">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio8">
              <p>Steve is the CEO of True Sky Credit Union and previously served as Chairman of the board of Calm Waters. He is currently a Trustee on the Westminster Presbyterian Church Foundation. True Sky Credit Union is a not-for-profit financial institution, serving the needs of those who live, work, worship or attend school in the eight counties surrounding the Oklahoma City metro area. His professional experience includes strategic planning, team building and risk management.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->

      </section>
      
      
      <section class="org-section" id="staff">
        <h1>Staff</h1>
        <div class="container">

          <div class="row mb-100">
            
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/carol.jpg" alt="Carol Cannon portrait"/>
              <h2>Carol Cannon</h2>
              <p class="title"><strong>Rides Coordinator</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio12 = !showBoardBio12">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio12">
                <p>My Grandmother was a very important part of my life. She moved in with us when I was in High School. When she could no longer drive, I would sometimes be asked to drive her. Since then I’ve raised my own family of five. I went to school to become a massage therapist/body worker.</p>
                <p>Volunteerism was a big part of my family life, and when I was asked to volunteer for ITNCO, I thought it was a great way to give back to the community. A few months later, I joined the staff. Now as a staff member getting to hear the stories our Member/Riders tell, while I drive them, is my favorite part of the job. There is so much richness there</p>
              </div>
            </div>
            
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/tedcorcoran.jpg" alt="Ted Corcoran portrait"/>
              <h2>Ted Corcoran</h2>
              <p class="title"><strong>Dispatcher</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio13 = !showBoardBio13">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio13">
                <p>Ted Corcoran is a visually limited employee of New View Oklahoma. </p>
                <p>New View Oklahoma “partnered” with ITNCO to provide Ted as a full time dispatcher for 2 years. Riders are greeted by Ted’s friendly voice over the phone as they place their weekly rides requests. He stays in close communication with the Ride Coordinator and our excellent crew of volunteer and paid drivers. Ted is an invaluable member of the ITNCO staff!</p>
              </div>
            </div>
            
            <div class="col-sm-4"><!--marginright:7%-->
          </div><!--row-->
    </div><!--container-->  
  </section>
            
    
      <section class="org-section" id="start">
        <img class="itn-icon" ng-src="{{assetsPath}}/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" ng-src="{{assetsPath}}/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9 wow fadeInUp" data-wow-duration="2s" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>{{affiliate}}</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

    
      </div><!--lightgreen div-->
    </div><!--organization-->

    <script>
    new WOW().init();
    </script>

